<div class="navbar">
	<ul class="nav">
		<li class="Home">
			<span><%= link_to "Home", root_path %></span>
		</li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Blog", blog_path %></li>
		<li><%= link_to "Listings", listings_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
</div>